* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  width: 100vw;
  overflow: hidden;
}

.circle-one {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  left: 1062px;
  top: -364px;
  background: linear-gradient(215.99deg,
      rgba(255, 255, 255, 0.8) 29.51%,
      rgba(166, 165, 167, 0.56) 85.2%);
}

.circle-two {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 785px;
  top: 100px;
  border-radius: 50%;
  background: linear-gradient(169.73deg,
      rgba(255, 255, 255, 0.8) 8.68%,
      rgba(166, 165, 167, 0.56) 93.81%);
}

.circle-three {
  position: absolute;
  width: 377px;
  height: 377px;
  left: 571px;
  top: 400px;
  border-radius: 50%;
  background: linear-gradient(23.51deg,
      rgba(166, 165, 167, 0.56) 8.85%,
      rgba(255, 255, 255, 0.8) 91.72%);
}

.main-container {
  padding: 0 120px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  z-index: 1;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.hero-description h1 {
  font-weight: 700;
  font-size: 32px;
  background: linear-gradient(90deg, #9b77e7 0%, #1600a0 81.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-picture {
  width: 45%;
  z-index: 1;
}

.hero-picture img {
  width: 100%;
}

.login-wrap {
  background-color: #bababe;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  z-index: 1;
}

.login-wrap h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding: 12px;
  background: linear-gradient(90deg, #9b77e7 0%, #1600a0 81.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
  gap: 12px;
}

.form input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background-color: #ffffff;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 100%;

}

/* admin page style */
header {
  background: linear-gradient(135deg, #a5a4d4, #f7b4cf);
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
}

/* Styles for the form */
form {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the labels */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* Styles for the input fields */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
  padding: 10px;
  border: none;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
  background-color: #e6e6e6;
}

/* Styles for the submit button */
button[type="submit"] {
  background: linear-gradient(135deg, #a5a4d4, #f7b4cf);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button[type="submit"]:hover {
  background: linear-gradient(135deg, #8e89c1, #e98bae);
}